{% extends "home-office-kit-layout-accessibility-and-digital-inclusion" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    

 <h1 class="govuk-heading-xl">Accessibility and digital inclusion</h1>

 <p class="govuk-body">Accessibility means making your website, app or service usable by as many people as possible, regardless of specific access needs.

Making something accessible improves everyone’s ability to use a service, which is affected by different needs and circumstances such as location, health and equipment.

<br>
<br>Delivering accessible and inclusive services is also in line with government standards and our legal responsibilities for equality and accessibility.

<br>
<br>In order to provide consistency for users and product teams, we’ve developed a Home Office Accessibility Standard that closely aligns to the Web Content Accessibility Guidelines (WCAG) 2.1 Level AA but simplifies and focuses on the areas most likely to present challenges for Home Office users.</p>







{% endblock %}