{% extends "home-office-kit-layout-design-system-content-style-guide" %}

{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    
<div>

	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">Content style guide</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus efficitur libero sed mattis. Praesent ornare tortor ut erat hendrerit lobortis. Pellentesque mattis purus eu faucibus pretium. </p>
		<p>Sed enim nibh, congue vel aliquam a, tincidunt iaculis mauris. Nulla at nulla non leo venenatis imperdiet. Quisque efficitur et ante at pulvinar. In at malesuada elit, a ultrices odio. Suspendisse pellentesque neque eu est euismod mattis. Cras ultricies ullamcorper quam, vestibulum imperdiet lectus tristique eget.</p>
	</div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock %}