{% extends "home-office-kit-layout-content-style-guide" %}

{% block homeOfficeKit_style %}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    

 <h2 class="a-z-header" id="l">L</h2>

 <h3>leave to enter</h3>

 <p>Use 'permission to enter' instead of 'leave to enter', 'limited leave to enter' or 'indefinite leave to enter', which are no longer in official use. For example, 'apply for permission to enter the UK'.</p>

 <h3>leave to remain</h3>

 <p>Use 'permission to stay' instead of 'leave to remain' or 'limited leave to remain', which are no longer in official use. For example, 'apply for permission to stay in the UK'. For 'indefinite leave to remain' see <a href="">settlement</a>.</p>

 <h3>Life in the UK Test</h3>

 <p>Capitalise the ‘L’ and ‘T’. After first mention, you can refer to ‘the test’, using lower case.</p>


{% endblock %}