{% extends "home-office-kit-layout-design-system" %}

{% block homeOfficeKit_style %}


{% endblock %}

{% block content %}
<!-- Add your page content here -->    

 <h1 class="govuk-heading-xl">Design Sysyem--test</h1>

 <p class="govuk-body">This design system will help you to design and build internal, as well as public-facing, services that are fit for everyone.</p>

   <p class="govuk-body">Find out when to use our own styles, components and patterns and when to use the <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>. See examples from within existing services.</p>

<br>
<br>
<br>






{% endblock %}