{% extends "home-office-kit-layout-design-system-components" %}

{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    
<div>
	<div class="govuk-grid-column-one-quarter">
		<nav class="not-govuk-navigation-menu">
			<ul class="not-govuk-navigation-menu__list">
				<li class="not-govuk-navigation-menu__list__item">Home Office plugin for GOV.UK prototype</li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/get-started?name=home-office-plugin">Add Home Office plugin to GOV.UK prototype</a></li>
				<li class="not-govuk-navigation-menu__list__item">Home Office React prototype</li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/get-started?name=start-prototype">Set up your prototype</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/get-started?name=use-prototype">Build your protoype</a></li>
				<li class="not-govuk-navigation-menu__list__item">Community resources</li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/get-started?name=design-assets">Design assets</a></li>

			</ul>
		</nav>
	</div>

	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">Get started</h1>
		<p>The Home Office design system helps us understand what Home Office services look like and how they should behave. It builds on the <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK design system</a>. 
    </p>
	</div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock %}