{% extends "home-office-kit-layout-ucd-guidance-role-standards" %}

{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    
<div>
	<!--edit 03/04
	<div class="govuk-grid-column-one-quarter">
		<nav class="not-govuk-navigation-menu">
			<ul class="not-govuk-navigation-menu__list">
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="ucd-guidance-research-ethics-data-handling-training.html">Ethics and data handling training</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="ucd-guidance-research-ethics-approval-submissions.html">Ethics approval and submissions</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Getting consent</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Market Research Society (MRS) guidance</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">The ethics board</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Labs</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Participant recruitment and incentives</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Research methods</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="ucd-guidance-research-translation-transcription-interpretation.html">Translation, transcription and interpretation</a></li>
			</ul>
		</nav>
	</div>
-->
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">Role standards</h1>
		<p class="govuk-body">The profession standard for user-centred design (UCD) at the Home Office covers user researchers and interaction designers as well as service and content designers. While these roles are separate, they are expected to work to the same standards and to share their approaches with the wider team.
			This standard underpins how our UCD community collaborates, plans and delivers along with stakeholders.
			</p>
	</div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





{% endblock %}