{% extends "home-office-kit-layout-ucd-guidance-research" %}



{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

.item-selected {
	border-left: 5px solid #1D70B8;
	padding-left:10px;
  }

{% endblock %}

{% block content %}
<!-- Add your page content here -->    
<div>
	<div class="govuk-grid-column-one-quarter">
		<nav class="not-govuk-navigation-menu">
			<ul class="not-govuk-navigation-menu__list">
			
				<li class="not-govuk-navigation-menu__list__item item-selected"><a class="not-govuk-navigation-menu__list__link" href="">Ethics and data handling training</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="ucd-guidance-research-ethics-approval-submissions.html">Ethics approval and submissions</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Getting consent</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Market Research Society (MRS) guidance</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">The ethics board</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Labs</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Participant recruitment and incentives</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Research methods</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Translation, transcription and interpretation</a></li>
			</ul>
		</nav>
	</div>

	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">Ethics and data handing training</h1>
		<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis ex, vehicula<br> 
 sed luctus quis, posuere ac libero. Fusce laoreet dolor ac est porta viverra. Class<br>
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

   <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis ex, vehicula<br> 
 sed luctus quis, posuere ac libero. Fusce laoreet dolor ac est porta viverra. Class<br>
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
	</div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





{% endblock %}