{% extends "home-office-kit-layout-ucd-guidance-training" %}



{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

.item-selected {
	border-left: 5px solid #1D70B8;
	padding-left:10px;
  }

{% endblock %}

{% block content %}
<!-- Add your page content here -->    
<div>
	<div class="govuk-grid-column-one-quarter">
		<nav class="not-govuk-navigation-menu">
			<ul class="not-govuk-navigation-menu__list">
			
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Ethics and data handling training</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Ethics approval and submissions</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Getting consent</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Market Research Society (MRS) guidance</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">The ethics board</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Labs</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Participant recruitment and incentives</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Research methods</a></li>
				<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="">Translation, transcription and interpretation</a></li>
			</ul>
		</nav>
	</div>

	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-xl">Mandatory training for all new starters</h1>
		<p class="govuk-body">The following training is available for new starters.</p>
		<p class="govuk-body">
			<b>User-centred design induction</b>
			This session is about user-centred design (UCD) at the Home Office, our best practice standards and what resources are available to help you meet those standards.
			This induction is aimed primarily at those starting in DDaT as user researchers, service designers, content designers and interaction designers.
			UCD Induction Trello
			This is the UCD Induction Trello which contains the essential things you need to know as a designer or researcher at the Home Office
			Introduction to accessibility
			This short training will cover:
			What is accessibility?
			Why do we need to be accessible?How do we go about that?
			Introduction to user research ethics at the Home Office (module 1)
			This is module 1 of the 4-part ethics training. Everyone must do module 1 but only user researchers should register for modules 2, 3 and 4.
			Ethics training for user researchers only
			Data handling for user researchers (module 2)
			Ethical principles for user researchers (module 3)
			Researcher and participant safety (module 4)
			Training for content designers only
			
			Content review ('2i') training
			All new content designers should do 2i training so they can check other content designers' work before they publish. </p>
		</p>
		</div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>





{% endblock %}